$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'colors';

.board {
  left: 25%;
  position: absolute;
  width: 50%;
}

.box {
  border: 5px solid black;
  height: 150px;
}

.b1 {
  border-left: 0;
  border-top: 0;
  font-size: 60pt;
  padding-top: 40px;
}

.b2 {
  border-top: 0;
  font-size: 60pt;
  padding-top: 25px;
}

.b3 {
  border-right: 0;
  border-top: 0;
  font-size: 60pt;
  padding-top: 25px;
}

.b4 {
  border-left: 0;
  font-size: 60pt;
  padding-top: 25px;
}

.b5 {
  font-size: 60pt;
  padding-top: 25px;
}

.b6 {
  border-right: 0;
  font-size: 60pt;
  padding-top: 25px;
}

.b7 {
  border-bottom: 0;
  border-left: 0;
  font-size: 60pt;
  padding-top: 25px;
}

.b8 {
  border-bottom:  0;
  font-size: 60pt;
  padding-top: 25px;
}

.b9 {
  border-bottom: 0;
  border-right: 0;
  font-size: 60pt;
  padding-top: 25px;
}

.title {
  text-align: center;
  text-transform: full-width uppercase;
}

.container-fluid {
  background-color: $color-nebula;
  font-family: sans-serif;
  text-align: center;
  text-decoration-style: dashed;
  text-transform: full-width;
}
